@import url("https://fonts.googleapis.com/css?family=Questrial");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Questrial', sans-serif;
  background: #bfcfd8;
  color: white;
}

h1, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a {
  color: white;
  text-decoration: none;
}

.right_align {
  text-align: right;
}

nav {
  position: fixed;
  top: 5%;
  left: 5%;
  color: #415158;
  cursor: pointer;
}

nav #nav_icon {
  height: 0;
  width: 40px;
  border-bottom: 35px solid #bfcfd8;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 0;
}

nav #nav_icon .bars {
  position: relative;
  top: 19px;
  left: 6px;
}

nav #nav_icon .x {
  position: relative;
  top: 19px;
  left: 10px;
}

nav #nav_icon:before {
  content: '';
  height: 0;
  width: 40px;
  border-top: 35px solid #bfcfd8;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 35px;
  left: -20px;
}

nav #menu {
  position: absolute;
  z-index: -1;
}

nav #menu .item {
  height: 0;
  width: 40px;
  border-bottom: 35px solid #bfcfd8;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #menu .item .about_txt {
  position: relative;
  top: 25px;
  left: -2px;
  color: #415158;
}

nav #menu .item .project_txt {
  position: relative;
  top: 25px;
  left: -9px;
  color: #415158;
}

nav #menu .item:before {
  content: '';
  height: 0;
  width: 40px;
  border-top: 35px solid #bfcfd8;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 35px;
  left: -20px;
}

#name {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url("../assets/images/LA_min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #415158;
  position: relative;
  z-index: -1;
}

#name .intro {
  margin: 80px 10% 0 0;
  padding-right: 10px;
  border-right: 5px solid #415158;
  overflow-x: hidden;
}

.slide_left {
  position: relative;
  -webkit-animation: fadeIn 500ms ease;
          animation: fadeIn 500ms ease;
  -webkit-animation: slideLeft 800ms ease;
          animation: slideLeft 800ms ease;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#about, #projects {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about {
  background: #415158;
}

#about .grid {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#about .grid #skills {
  position: relative;
  width: 60%;
  margin: 0 auto;
  color: #415158;
}

#about .grid #skills li {
  font-size: 1.5vw;
  list-style-type: none;
  position: relative;
  float: left;
  width: 28%;
  padding: 0 0 32% 0;
  -webkit-transform: rotate(-60deg) skewY(30deg);
          transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

#about .grid #skills li * {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .grid #skills li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bfcfd8;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  opacity: 0;
}

#about .grid #skills li .hexagon:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #bfcfd8;
}

#about .grid #skills li:nth-child(3n+2) {
  margin: 0 1%;
}

#about .grid #skills li:nth-child(6n+4), #about .grid #skills li:nth-child(6n+5), #about .grid #skills li:nth-child(6n+6) {
  margin-top: -7%;
  margin-bottom: -7%;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
          transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#about .grid #skills li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#about .grid .clear:after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (max-width: 800px) {
  #about .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #about .grid #skills {
    width: 40%;
  }
  #about .grid #skills li {
    font-size: 2.2vw;
  }
}

.fade_animation {
  -webkit-animation: fade_in_up 1s ease forwards;
          animation: fade_in_up 1s ease forwards;
}

@-webkit-keyframes fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in_up {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

#projects {
  background: -webkit-gradient(linear, left top, left bottom, from(#415158), to(#bfcfd8));
  background: linear-gradient(to bottom, #415158, #bfcfd8);
}

.title1, .title2 {
  width: 175px;
}

.animate {
  -webkit-animation: fill 0.5s ease forwards 0.8s;
          animation: fill 0.5s ease forwards 0.8s;
}

.animate path {
  stroke: white;
}

.animate path:nth-child(1) {
  stroke-dasharray: 255px;
  stroke-dashoffset: 255px;
  -webkit-animation: line-animation 0.5s ease forwards;
          animation: line-animation 0.5s ease forwards;
}

.animate path:nth-child(2) {
  stroke-dasharray: 299px;
  stroke-dashoffset: 299px;
  -webkit-animation: line-animation 0.5s ease forwards 0.1s;
          animation: line-animation 0.5s ease forwards 0.1s;
}

.animate path:nth-child(3) {
  stroke-dasharray: 279px;
  stroke-dashoffset: 279px;
  -webkit-animation: line-animation 0.5s ease forwards 0.2s;
          animation: line-animation 0.5s ease forwards 0.2s;
}

.animate path:nth-child(4) {
  stroke-dasharray: 252px;
  stroke-dashoffset: 252px;
  -webkit-animation: line-animation 0.5s ease forwards 0.3s;
          animation: line-animation 0.5s ease forwards 0.3s;
}

.animate path:nth-child(5) {
  stroke-dasharray: 187px;
  stroke-dashoffset: 187px;
  -webkit-animation: line-animation 0.5s ease forwards 0.4s;
          animation: line-animation 0.5s ease forwards 0.4s;
}

.animate path:nth-child(6) {
  stroke-dasharray: 373px;
  stroke-dashoffset: 373px;
  -webkit-animation: line-animation 0.5s ease forwards 0.5s;
          animation: line-animation 0.5s ease forwards 0.5s;
}

.animate path:nth-child(7) {
  stroke-dasharray: 253px;
  stroke-dashoffset: 253px;
  -webkit-animation: line-animation 0.5s ease forwards 0.6s;
          animation: line-animation 0.5s ease forwards 0.6s;
}

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social_icons {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.social_icons:hover {
  color: #bfcfd8;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */