@import url("https://fonts.googleapis.com/css?family=Questrial");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Questrial', sans-serif;
}

h1, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a {
  color: white;
  text-decoration: none;
}

.right_align {
  text-align: right;
}

#name {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url("../assets/images/LA_min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #415158;
}

#name .intro {
  margin: 80px 40px 0 0;
  padding-right: 10px;
  border-right: 5px solid #415158;
  overflow-x: hidden;
}

.slide_left {
  position: relative;
  -webkit-animation: fadeIn 500ms ease;
          animation: fadeIn 500ms ease;
  -webkit-animation: slideLeft 800ms ease;
          animation: slideLeft 800ms ease;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#about, #projects {
  height: 100vh;
  width: 100%;
  text-align: center;
}

#about {
  background: grey;
}

#projects {
  background: pink;
}

.title1, .title2 {
  width: 175px;
}

.animate {
  -webkit-animation: fill 0.5s ease forwards 0.8s;
          animation: fill 0.5s ease forwards 0.8s;
}

.animate path {
  stroke: white;
}

.animate path:nth-child(1) {
  stroke-dasharray: 255px;
  stroke-dashoffset: 255px;
  -webkit-animation: line-animation 0.5s ease forwards;
          animation: line-animation 0.5s ease forwards;
}

.animate path:nth-child(2) {
  stroke-dasharray: 299px;
  stroke-dashoffset: 299px;
  -webkit-animation: line-animation 0.5s ease forwards 0.1s;
          animation: line-animation 0.5s ease forwards 0.1s;
}

.animate path:nth-child(3) {
  stroke-dasharray: 279px;
  stroke-dashoffset: 279px;
  -webkit-animation: line-animation 0.5s ease forwards 0.2s;
          animation: line-animation 0.5s ease forwards 0.2s;
}

.animate path:nth-child(4) {
  stroke-dasharray: 252px;
  stroke-dashoffset: 252px;
  -webkit-animation: line-animation 0.5s ease forwards 0.3s;
          animation: line-animation 0.5s ease forwards 0.3s;
}

.animate path:nth-child(5) {
  stroke-dasharray: 187px;
  stroke-dashoffset: 187px;
  -webkit-animation: line-animation 0.5s ease forwards 0.4s;
          animation: line-animation 0.5s ease forwards 0.4s;
}

.animate path:nth-child(6) {
  stroke-dasharray: 373px;
  stroke-dashoffset: 373px;
  -webkit-animation: line-animation 0.5s ease forwards 0.5s;
          animation: line-animation 0.5s ease forwards 0.5s;
}

.animate path:nth-child(7) {
  stroke-dasharray: 253px;
  stroke-dashoffset: 253px;
  -webkit-animation: line-animation 0.5s ease forwards 0.6s;
          animation: line-animation 0.5s ease forwards 0.6s;
}

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social_icons {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.social_icons:hover {
  color: #bfcfd8;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */