@import url('https://fonts.googleapis.com/css?family=Questrial');

$primaryColor: #bfcfd8;
$secondaryColor: white;
$tertiaryColor: #415158;

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Questrial', sans-serif;
}

h1, h3{
  font-weight: normal;
}

h1{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

a{
  color: $secondaryColor;
  text-decoration: none;
}

.right_align{
  text-align: right;
}



#name{
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url('../assets/images/LA_min.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: $tertiaryColor;
  .intro{
    margin: 80px 10% 0 0;
    padding-right: 10px;
    border-right: 5px solid $tertiaryColor;
    overflow-x: hidden;
  }
}

.slide_left{
  position: relative;
  // right: -300px;
  animation: fadeIn 500ms ease;
  animation: slideLeft 800ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

#about, #projects{
  height: 100vh;
  width: 100%;
  text-align: center;
  color: $secondaryColor;
}

#about{
  background: $tertiaryColor;
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    #skills{
      position: relative;
      width: 60%;
      margin: 0 auto;
      li{
        font-size: 1.5vw;
        list-style-type: none;
        position: relative;
        float: left;
        width: 28%;
        padding: 0 0 32% 0;
        transform: rotate(-60deg) skewY(30deg);
        overflow: hidden;
        visibility: hidden;
        // margin: 0 1%;
        *{
          visibility: visible;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .hexagon{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $primaryColor;
          transform: skewY(-30deg) rotate(60deg);
          overflow: hidden;
        }
      }
      li:nth-child(3n+2){
        margin: 0 1%;
      }
      li:nth-child(6n+4), li:nth-child(6n+5), li:nth-child(6n+6){
        margin-top: -7%;
        margin-bottom: -7%;
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
      }
      li:nth-child(6n+4){
        margin-left: 0.5%;
      }
    }
    .clear:after{
      content: '';
      display: block;
      clear: both;
    }
    // @media only screen and (max-width: 800px) {
    //   #skills{
    //     width: 70%;
    //   }
    // }
  }
  @media only screen and (max-width: 800px) {
    .grid{
      grid-template-columns: 1fr;
      #skills{
        width: 40%;
        li{
          font-size: 2.2vw;
        }
      }
    }
  }
}


#projects{
  background: $primaryColor;
}

.title1, .title2{
  width: 175px;
}

.animate{
  animation: fill 0.5s ease forwards 0.8s;
  path{
    stroke: $secondaryColor;
  }
  path:nth-child(1){
    stroke-dasharray: 255px;
    stroke-dashoffset: 255px;
    animation: line-animation 0.5s ease forwards;
  }
  path:nth-child(2){
    stroke-dasharray: 299px;
    stroke-dashoffset: 299px;
    animation: line-animation 0.5s ease forwards 0.1s;
  }
  path:nth-child(3){
    stroke-dasharray: 279px;
    stroke-dashoffset: 279px;
    animation: line-animation 0.5s ease forwards 0.2s;
  }
  path:nth-child(4){
    stroke-dasharray: 252px;
    stroke-dashoffset: 252px;
    animation: line-animation 0.5s ease forwards 0.3s;
  }
  path:nth-child(5){
    stroke-dasharray: 187px;
    stroke-dashoffset: 187px;
    animation: line-animation 0.5s ease forwards 0.4s;
  }
  path:nth-child(6){
    stroke-dasharray: 373px;
    stroke-dashoffset: 373px;
    animation: line-animation 0.5s ease forwards 0.5s;
  }
  path:nth-child(7){
    stroke-dasharray: 253px;
    stroke-dashoffset: 253px;
    animation: line-animation 0.5s ease forwards 0.6s;
  }
}

@keyframes line-animation{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill{
  from{
    fill: transparent;
  }
  to{
    fill: $secondaryColor;
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social_icons{
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  &:hover{
    color: $primaryColor;
    background: $secondaryColor;
    transition: 0.3s ease-in-out;
  }
}

